
body {
	font-family: helvetica;
	color: #FFFFFF;
	background-color: #444444;
}

h1 {
	text-align: center;
}

.inner-map {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

#map {
	margin: 0 auto;
	width: 100vw;
	height: 100vh;
	color: #111;
}

.logo {
    display: none;
    filter: brightness(0) invert(1); 
}

#map img {
	display: block;
	margin: 2px 10px 10px 0;
	float: left;
	max-width: 100px;
	border: 1px solid #333;
	border-radius: 3px;
}

#bg {
    display: none;
}


@media screen and (min-width: 520px) {
    .logo {
        display: block;
        width: 250px;
        z-index: 11;
    }
    
    .inner-map {
        height: 95vh;
    }
    
    #bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        background: linear-gradient(180deg,#000000,#1F1F1F);
    }
    
    #map {
        margin: 0 auto;
        width: 90vw;
        height: 70vh;
        color: #111;
    }
}

@media screen and (min-width: 1200px) {
    #map {
        margin: 0 auto;
        width: 85vw;
        height: 85vh;
        color: #111;
    }
}

